<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nuoya.secluxury.mapper.GoodsMapper">

    <resultMap id="GoodsMap" type="goods">
        <id property="goodsId" column="goods_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="goodsSize" column="goods_size"/>
        <result property="imageUrl" column="image_url"/>
        <result property="brandId" column="brand_id"/>
        <result property="brand" column="brand"/>
        <result property="goodsDetail" column="goods_detail"/>
        <result property="type_id" column="typeId"/>
        <result property="type" column="type"/>
        <result property="goodsNew" column="goods_new"/>
        <result property="peopleType" column="people_type"/>
        <result property="postPrice" column="post_price"/>
        <result property="deliveryTimeId" column="delivery_time_id"/>
        <result property="deliveryTime" column="delivery_time"/>
        <result property="publishUser" column="publish_user"/>
        <result property="receiveUser" column="receive_user"/>
        <result property="priceStatus" column="price_status"/>
        <result property="orderStatus" column="order_status"/>
        <result property="identifyStatus" column="identify_status"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="platformPrice" column="platform_price"/>
        <result property="marketPrice" column="market_price"/>
        <result property="createTime" column="create_time"/>

    </resultMap>

    <select id="selectAllGoodsBy" parameterType="map" resultMap="GoodsMap">
        select g.goods_id,g.goods_name,g.goods_size,g.image_url,g.brand_id,g.goods_detail,g.type_id,g.goods_new,
        g.people_type,g.post_price,g.delivery_time_id,g.publish_user,g.receive_user,g.order_status,g.identify_status,
        g.goods_price,g.platform_price,g.market_price,g.create_time,g.price_status,
        br.brand,
        ty.type,
        de.delivery_time
        from goods g
        left join goods_brand br on br.id = g.goods_id
        left join goods_type ty on ty.type_id = g.type_id
        left join delivery de on de.delivery_id = g.delivery_time_id
        <where>
            <if test="keyWords != null">
                goods_name like CONCAT("%", #{keyWords}, "%")
            </if>
            <if test="typeId != null">
                and type_id = #{typeId}
            </if>
            <if test="brandId != null">
                and brand_id = #{brandId}
            </if>
            <if test="priceStatus != null">
                and price_status = #{priceStatus}
            </if>
            <if test="peopleType != null">
                and people_type = #{peopleType}
            </if>
        </where>

    </select>
</mapper>